@media (max-width: 768px) {
  .nav-links {
    display: none;
  }
  
  .social-buttons {
    display: none;
  }
  
  .menu-icon {
    display: flex;
    align-items: center !important;
    justify-content: center !important;
    color: #744bfc;
    margin: 0px;
    padding: 0px;
    font-size: 30px;
  }
}

.logo-container {
  min-width: 165px; /* Logo genişliğini istediğiniz sabit değeri buraya girin */
  min-height: 60px; /* Yüksekliği otomatik olarak ayarlamak için */
}

.nav-links li a {
  position: relative;
  text-decoration: none;
  color: #333;
}

.nav-links li a::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  background: #333;
  bottom: 0;
  left: 0;
  transition: all 0.3s ease;
}

.nav-links li a:hover::after {
  width: 100%;
}

.social-buttons > button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 18px;
  height: 18px;
  background: #744bfc;
  border-radius: 1.93846px;
  margin-left: 10px;
  padding: 0;
}

.social-buttons > button .anticon {
  color: white;
  font-size: 14px;
}

.canvas-menu > button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  background: #744bfc;
  color: white;
  border-radius: 3px;
}

.text-drawer {
  font-weight: 500;
  line-height: 20px;
}

.text-drawer > li {
  font-family: "Poppins";
  font-style: normal;
  font-size: 14px;
  display: flex;
  height: 60px;
  align-items: center;
  margin-left: 15px;
  border-top: 1px solid #000000; /* Border üstünü çizer */
}

.text-drawer > li:last-child {
  border-bottom: 1px solid #000000; /* Border üstünü çizer */
}